.btn{
  background-color: var(--orange);
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 28px;
  margin: 0 auto;
  display: flex;
}
.btn:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .btn {
    cursor: pointer;
  }
}